@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    background-color: rgb(33, 37, 41) !important;
}

.containerlogIn {
    position: relative;
    top: 10vw;
    margin-left: 40vw;
    margin-right: 40vw;
    border: 1px solid gray;
    width: 20vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(33, 37, 41);
    box-shadow: 0px 0px 100px 4px rgba(128, 128, 128, 0.7);
    overflow: hidden;
}

.logIn-form {
    color: rgb(255, 193, 7);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: larger;
    padding-bottom: 4vw;
}

.logIn-form a {
    color: rgb(255, 193, 7);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    text-decoration: none;
    transition: all .3s;
}

.logIn-form a:hover {
    color: rgb(189, 144, 8);
    transition: all .3s;
}

.logIn-form label {
    padding-bottom: 8px;
}

.logIn-form input {
    margin-bottom: 16px;
    border: 2px white solid;
    border-radius: 2px;
    transition: .3s ease;
    text-align: center;
}

.logIn-form input:focus {
    border: 2px rgb(255, 193, 7) solid;
    border-radius: 2px;
    outline: none;
    transition: .3s ease;
    transform: scale(1.15);
}

.logIn-form button {
    border: 2px rgb(255, 193, 7) solid;
    border-radius: 4px;
    background-color: rgb(255, 193, 7);
}

img {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    padding: 2vw;
}