@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.desktop-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0vw 6vw 0vw 6vw;
    height: 3vw;
}

.logo-shop img {
    width: 2vw;
    height: auto;
}

.main-page-bkg1 {
    position: relative;
    bottom: 32vw;
    z-index: -1;
    width: 100%;
}

.main-page-container {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

.footer-container {
    background-color: rgb(255, 193, 7);
    height: 16vw;
}

#navbar-desktop-container {
    background-color: rgb(255, 193, 7);
    padding: 10px;
    margin-top: 1vw;
    width: 100%;
}

.navbar-desktop-li {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    margin-bottom: 0;
    position: relative;
}

.navbar-desktop-li li {
    list-style: none;
    position: relative;
}

.navbar-desktop-li li > a {
    text-decoration: none;
    color: rgb(87, 87, 87);
    font-family: "Lilita One", sans-serif;
    font-style: normal;
}

/* Estilos para la subnavbar */
.subnavbar-desktop-li {
    width: 8vw;
    text-align: center;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 193, 7, 0.9);
    padding: 12px;
    list-style: none;
    border: none;
    margin-top: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    /* Transición inicial */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.subnavbar-desktop-li li {
    margin-bottom: 5px;
}

.subnavbar-desktop-li li > a {
    color: rgb(87, 87, 87);
    text-decoration: none;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all .3s;
}

.category-container {
    position: relative;
    left: 8vw;
    width: 250px;
}

.category-container h3 {
    margin-left: 3vw;
}

.category-container li {
    list-style: none;
}

.category-container li > div {
    display: flex;
    justify-content: space-between;
    border: 1px rgb(219, 219, 219) solid;
    width: 200px;
    margin: 1vw;
    list-style: none;
    padding: 8px;
    cursor: default;
}

.category-container a {
    color: black;
    text-decoration: none;
    transition: .3s ease;
}

.category-container a:hover {
    color: rgb(255, 193, 7);
    transition: .3s ease;
}

.deploy-arrow:hover {
    cursor: pointer;
}

.subcategory {
    max-height: 0; /* Ocultar el submenú por defecto */
    overflow: hidden; /* Evita que el contenido sobresalga */
    transition: max-height 0.5s ease; /* Añadir transición suave */
}

.show-sub {
    max-height: 500px; /* Un valor suficientemente alto para el contenido del submenú */
    transition: 0.5s ease;
}

.products {
    top: 12vw;
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0px 25vw 0px 25vw;
}

.products-card {
    width: 100%; /* Asegura que el contenedor de productos ocupa todo el ancho */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position:relative;
}

.products-card ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    list-style: none;
}

.products-card li {
    margin: 10px;
    flex: 1 1 30%;
    max-width: 200px;
}

.item-main {
    margin: 1vw;
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    transition: transform 0.2s;
}

.item-main:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.item-img {
    width: 200px;
    height: 200px;
    transform: scale(0.7);
}

.product-name {
    width: 50%;
    height: auto;
}

.buy-button {
    background-color: rgb(255, 193, 7);
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-button img {
    color: #ccc;
}

.buy-button:hover {
    background-color: rgb(33 37 41);
}