@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.main-page-bkg1 {
    position: relative;
    bottom: 32vw;
    z-index: -1;
    width: 100%;
}

.main-page-container {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

.footer-container {
    background-color: rgb(255, 193, 7);
    height: 16vw;
}

#navbar-desktop-container {
    background-color: rgb(255, 193, 7);
    padding: 10px;
    margin-top: 1vw;
    width: 100%;
}

.navbar-desktop-li {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    margin-bottom: 0;
    position: relative;
}

.navbar-desktop-li li {
    list-style: none;
    position: relative;
}

.navbar-desktop-li li > a {
    text-decoration: none;
    color: rgb(87, 87, 87);
    font-family: "Lilita One", sans-serif;
    font-style: normal;
}

/* Estilos para la subnavbar */
.subnavbar-desktop-li {
    width: 8vw;
    text-align: center;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 193, 7, 0.9);
    padding: 12px;
    list-style: none;
    border: none;
    margin-top: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    /* Transición inicial */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.subnavbar-desktop-li li {
    margin-bottom: 5px;
}

.subnavbar-desktop-li li > a {
    color: rgb(87, 87, 87);
    text-decoration: none;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all .3s;
}

.subnavbar-desktop-li li > a:hover {
    color: white;
    transition: all .3s;
}

/* Mostrar la subnavbar al pasar el ratón por encima del elemento padre */
.navbar-desktop-compo:hover .subnavbar-desktop-li,
.navbar-desktop-compo:focus-within .subnavbar-desktop-li {
    opacity: 1;
    visibility: visible;
}

.subnavbar-desktop-li:hover {
    opacity: 1;
    visibility: visible;
}